<div class="container">
  <app-info></app-info>
  <div *ngFor="let e of experienceList; let i = index">
    <app-experience [experience]="e" (edit)="editExperience($event, i)" (delete)=deleteExperience(i)></app-experience>
  </div>
  <button type="button" class="btn btn-dark" (click)="addExperience()">Add</button>
  <button type="button" class="btn btn-dark" (click)="updateUserExperiences()">Save</button>
  <div *ngFor="let e of educationList; let i = index">
    <app-education [education]="e" (edit)="editEducation($event, i)" (delete)=deleteEducation(i)></app-education>
  </div>
  <button type="button" class="btn btn-dark" (click)="addEducation()">Add</button>
  <button type="button" class="btn btn-dark" (click)="updateUserEducation()">Save</button>
  <div *ngFor="let e of languages; let i = index">
    <app-language [vernacular]="e" (edit)="editLanguage($event, i)" (delete)=deleteLanguage(i)></app-language>
  </div>
  <button type="button" class="btn btn-dark" (click)="addLanguage()">Add</button>
  <button type="button" class="btn btn-dark" (click)="updateUserLanguage()">Save</button>

</div>
